.bg-dark {
  background-color: var(--color-bg-dark);
  color: var(--color-font-light);
}

.bg-light {
  background-color: var(--color-bg-light);
  color: var(--color-font-dark);
}

.full-width {
  width: 100%;
}
